
<link rel="stylesheet" href="styles/style.css">

<%- include('common/header'); -%>



<div class ="content">

    <p>Home page</p>

    <p>Please use the links above</p>
    
    Picture not working. Don't know why
    <img src="mumbles.jpg" class="img-fluid"/>

    <br><br>
</div>




<%- include('common/footer'); -%>