


<%- include('common/head') %>
 
<%- include('common/header') -%> 


<body id="indexPage"> 
<main> 
<div class ="content">

    <p class=>Please use the links above</p>

    <div class="photo-outer-container">
        <div class="photo-inner-container">
          <div class="img-container" style="background: url('/images/horses.jpg'); background-size: cover; background-position: center;">
          </div>
        </div>
    </div>        

</div>

</main>
</body>
<%- include('common/footer'); -%>
</html>