


<%- include('common/head') %>
<%- include('common/header3'); -%>


<body> 

<div class ="content">

    <p class="text-center">Please use the links above</p>

    <div class="photo-outer-container">
        <div class="photo-inner-container">
          <div class="img-container" style="background: url('/images/racehorses.jpg'); background-size: cover; background-position: center;">
          </div>
        </div>
    </div>        

</div>




</body>
<%- include('common/footer'); -%>
</html>