<header class="p-3 bg-dark text-white mb-4">

    <nav class="navbar navbar-dark bg-dark">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Racehorses Database</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="search">Search</a></li>
      <li><a href="addrecord">Add a Record</a></li>
      <li><a href="deleterecord">Delete Record</a></li>
      <li><a href="update">Update Record</a></li>
    </ul>
  </div>
</nav>
</header>