body{
    background: url('../images/horses2.png'); 
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.content{
    background: rgb(2, 2, 44);
    padding:0;
    padding-top: 10px;
    width: 100%;
    font-size: 3vh;
    text-align: center;

  }

  #indexPage{
    background: rgb(2, 2, 44);
    color: whitesmoke;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  .photo-outer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
  }
  
  .photo-inner-container{
    height: 500px;
    width: 100%;
    background-color: #188C9C;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding:0;
    margin:0;
    border-radius: 20px;
    overflow: hidden;
  }

  
  .img-container{
    background: rgb(2, 2, 44);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  #contactHeader{
    display:flex;
    align-items: center;
    justify-content: center;
}

  #contactForm{
    display:flex;
    align-items: center;
    justify-content: center;
    #userName, #userEmailAdd, #comments, #btnSubmit5{
        color: black;
    }
  }


    .container{
        background: rgb(2, 2, 44);
        color: whitesmoke;
        width: 50%;
        height:auto;
        margin: auto;
        padding-bottom: 50px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 20px;
    }
 
  .footer {
    text-align: center;
    background: rgb(248,249,250);
    display: flex;
    /*
    left:0px;
    width:100%;
    bottom:0px;
    */
    }
 
    .d-flex{
        
 }


/*
body{
    background: rgb(2, 2, 44);
    color: whitesmoke;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#header{
    height:30vh;
    width:100%;

    color: white;
    font-size: 10vh;
    background: url("../images/Moons/full-moon-night-landscape-banner.jpg ");
    background-size:100%;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #content{
    padding:5px;
    padding-top: 10px;
    width: 100%;
    height:5vh;
    font-size: 4vh;
    text-align: center;

  }


nav ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;;
}

nav ul li{
    display: inline-block;
    width:16%;
    text-align: center;
}

nav ul li a:link{
    color: whitesmoke;
}

nav ul li a:visited{
    color: whitesmoke;
}

nav ul li a:hover{
    color: turquoise;
}

#datePopup{
    height: 30vh;
    width:100%;
    background-color: teal;
    font-size: 40pt;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position:fixed;
    left:0;
    top:30%;
}

#btnCloseBanner{
    position: absolute;
    right: 0;
    top: 0;
}


#wibble{
    display:flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (min-width: 0px){
    .header{
        height: 40vh;
    }
}

@media only screen and (min-width: 1000px){
    .header{
        height: 90vh;
    }
}*/